.pokeContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pokeImg {
    grid-row-start: 1;
    justify-self: center;
}

.pokeName{
    grid-row-start: 2;
    justify-self: center;

}

.pokeType {
    grid-row-start: 3;
    justify-self: center;

}

.pokeDiv {
    grid-column: 1/3;
}