
.container {
    width: 100%;
    font-family: 'Work Sans';
}

.statEntry {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.statName {
    width: 35%;
    font-size: 16px;
    text-align: start;
}

.statValue {
    width: 10%;
}

.statBar {
    border-radius: 2%;
    margin-left: 10px;
    height: 12px;
}
