.table {
    font-size: 1vm;
}

.wrapper {
    display: unset;
    grid-template-columns: 3fr 2fr 2fr 2fr;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .wrapper{
        display: grid;
    }

}

.bigpic{
    display: block;
    width: 70%;
    height: auto;
}
.expanding{
    background-color: lightgrey;
}

.detailsDiv{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 10px;
    background-color: white;

}

.selected{
    background-color: #aee3ae;
}

.notSelected{
    background-color: white;
}
