.outer{
    background-color: lightcoral;
    padding: 10px;
    border-radius: 10px;
}

.singleStat{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
}

.nameStat{
    width: 70%;
    margin-left: 10px;
    vertical-align: middle;
}


.nameVal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%
}