

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.icon{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-bottom: 1px dimgrey solid;
}

.chosenIcon {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 50%;

    border-top: 1px dimgrey solid;
    border-left: 1px dimgrey solid;
    border-right: 1px dimgrey solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.icon:hover{
    background-color: lightgrey;
}


@media only screen and (min-width: 600px) {
    .icon{
        flex-direction: row;
    }
}