.myTeamPage {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .myTeamPage {
        grid-template-columns: 1fr 10fr 1fr;
    }
}

.myTeamHeadline {
    text-align: center;
    grid-row-start: 1;
    grid-column-start: 2;
}
.teamsHeadline {
    text-align: center;
    grid-row-start: 3;
    grid-column-start: 2;
}

