.root {
    width: 100%;
    overflow-x: auto;
}

.table {
    min-width: 650px;
}

.wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr;
    align-items: center;

}

.bigpic{
    display: block;
    width: 70%;
    height: auto;
}
.expanding{
    background-color: lightgrey;
}

.outerWrapper{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.key{
    align-items: center;
    justify-content: center;
}

.detailsDiv{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 10px;
    background-color: white;
}


.teamMember{
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    border: solid 0.5px grey;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 3px;
    height: 40px;
    overflow-x: auto;
}
.teamMember:hover{
    background-color: lightgreen;
}


.removeButton{
    color: red;
}
.removeButton:hover{
    color: black;
}

.team{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.teamList{
    list-style: none;
    padding: 0;
    width: 100%;
}
