.overview{
    text-align: center;
    position: absolute;
    top: 0px;
}

body{
    font-size: 7vw;
    margin: 0;
    padding: 0;
    width: 100%;

}

@media only screen and (min-width: 600px) {
    body {
        font-family: Epilogue;
        font-size: 2vw;
    }
}