
.popupInner{
    position: relative;
    padding: 32px;
    width: 95%;
    max-width: 800px;
    background-color: white;
    box-sizing: border-box;
    z-index: 200;
    border-radius: 20px;
    margin: 20px auto auto;

}

.close{
    position: absolute;
    top: 16px;
    right: 16px;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.innerWrapper{
    width: 100%;
    height: 100%;

}


.spritePic{
    width: 100%;
    height: auto;
}