.filter {
    display: block;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #FAFAFA;
}

@media only screen and (min-width: 600px) {
    body {
        display: flex;
        font-size: 1.5vw;
    }

    .filter{
        display: flex;
    }
}