.teamSprite {
    height: 70px;
}
.innerTeamMember{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.teamMember{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    border: solid 1px #e43e71;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
    margin-top: 3px;
    height: 60px;
    width: 250px;
}

.emptyTeamMember{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 3px;
    height: 40px;
}


.removeButton{
    color: #6600cd;
    margin-left: 10px;
}
.removeButton:hover{
    cursor: pointer;
    color: #400080;
}

.addButton{
    color: #6600cd;
}
.addButton:hover{
    cursor: pointer;
    color: #400080;
}

.team{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.wrapperTeams{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
}

@media screen and (max-width: 700px) {
    .wrapperTeams{
        display: flex;
        flex-direction: column;
    }
}